* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: roboto, sans-serif;
}
:root {
  --main-color: #9356dc;
  --pink: #ff79da;
  --green: #99e2d0;
  --light-grey: #f6f6f6;
  --dark-grey: #353535;
}

/* text-align */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.mt_7 {
  margin-top: 7%;
}
/* position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* flexbox */

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.align-middle {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
body {
  margin: 0px;
  overflow-x: hidden;
}
