
@import"./menu/adjustment.scss";
@import"./menu/functioning.scss";
@import"./menu/restaurant.scss";
@import"./menu/footer.scss";
@import"./menu/pages_restaurant.scss";
@import"./menu/heart_animation.scss";
@import"./menu/command_button.scss";
@import"./menu/loader.scss";
@import"./menu/desktop.scss";
/* text-align */

.text-center {
    text-align: center;
  }
  
  .text-left {
    text-align:left;
  }
  .mt_7{
    margin-top: 7%;
  }
  /* position */ 
  
  .relative {
    position:relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  /* flexbox */
  
  .flex {
    display: flex;
  }
  .row {
    flex-direction: row;
  }
  
  .column {
    flex-direction: column;
  }
  
  .align-middle {
    justify-content: center;
    align-items: center;
  }
  
  .space-between {
    justify-content: space-between;
  }
  
  .space-around {
    justify-content: space-around;
  }
body{
    margin:0px;
    overflow-x: hidden;
}
                /* header */

header{
    text-align: center;
    box-shadow: 0px 3px 3px grey;
    padding: 0.3rem ;
    margin:0;
    & span{
      font-size: 5vw;
      font-family: "shrikhand";
    }
}
main .city{
  background-color: #eaeaea;
  padding: 7px;
  align-items: center;
  justify-content: center;
  & h2{
      margin-left: 8px;
  }
  & #location{
    border: transparent;
    background-color: #eaeaea;
    margin-left:20px
  }
  & button:hover{
    box-shadow:  #aaa 4px 4px 3px; ;
  }
}
                      /* explorer */
.explorer{
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 8vh;
  & h2{
      margin-top:6vh;
      font-size: 20px;
      font-family: "roboto";
  }
  
  & p{
    font-size: 17px;
    margin-top: 0px;
    color: #4d4d4d;
  }
  
  & button{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(var(--pink), var(--main-color)), var(--main-color);
    color: white ;
    font-weight: 400;
    padding: 15px 25px;
    cursor: pointer; 
    box-shadow: #aaa 3px 2px 3px;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid transparent;
    transition: 200ms;
  }
  & button:hover{
    box-shadow:  #aaa 4px 4px 3px; ;
    background-blend-mode: lighten;
    background-color: #ae80e5;
  }
 
  
}




    











