*{
    box-sizing: border-box;
    text-decoration: none;
    color: black;
   font-family: roboto, sans-serif;
}
:root{ 
    --main-color:#9356DC;
    --pink:#FF79DA;
    --green:#99E2D0;
    --light-grey: #F6F6F6;
    --dark-grey: #353535;

  }

  /* text-align */

.text-center {
  text-align: center;
}

.text-left {
  text-align:left;
}
.mt_7{
  margin-top: 7%;
}
/* position */ 

.relative {
  position:relative;
}

.absolute {
  position: absolute;
}

/* flexbox */

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.align-middle {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
body{
  margin:0px;
  overflow-x: hidden;
}
