   
  .footer_content {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  
    &__logo img {
      width: 100px;
      filter: invert(1);
      padding-bottom: 1rem;
    }
  
    &__menu {
      list-style-type: none;
      
      li {
        margin: 0 1rem;
  
      }
    }
  }
