.functioning{

    & .functioning_title{
      margin-left: 3%;
    }
    & .functioning_group{
        user-select: none;
        padding: 1px 1px;
        width: 94%;
        transition: 0.2s;
        margin-left: 20px;
        list-style: none;
        margin: 0 5% 0 7%;
  
        & .functioning_group_number{
         position: relative; 
         right: 12px;
         border: solid 1px;
         width: 22px;
         border-radius: 50%;
         height: 22px;
         display: flex;
         justify-content: center;
         background-color: var(--main-color);
         color: white;
  
        }
        & .functioning_group_choice{
          margin: 15px 15px;
          font-weight: bold;
          display: flex;
          align-items: center;
          border:solid 1px transparent;
          border-radius: 22px;
          background-color: #F6F6F6;
          width: 96%;
          box-shadow: 0px 2px 11px lightgray;
          position: relative;
          right: 5% ;
          &:hover{
            background-color: #9256dc3f;
            cursor: pointer;
            & .fa{
              color:#9256dc3f ;
            }
          }
          &::marker{
            position: relative;
            right: 40px;
          }
        }
        & .functioning_group_title{
          margin: 20px;
        }
        & .fa{
          margin-right: 20px;
          color:gray;
          font-size:x-large;
         
        }
    }
  } 
  